In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame({"values":[1,8,9,10]})

In [3]:
df

   values
0       1
1       2
2       4
3       5
4       7

In [12]:
1+0.75*7

6.25

In [14]:
df.describe()

          values
count   4.000000
mean    7.000000
std     4.082483
min     1.000000
25%     6.250000
50%     8.500000
75%     9.250000
max    10.000000